
<div class="page-header">
  <h1>Add new movies</h1>
</div>

<div class="container">
	<%= form_for @movie, :url => movies_path do |f| %>
	 	<table>
			<tr> 
				<td><%= f.label :title, "Title" %></td>
				<td><%= f.text_field :title %></td>
			</tr>
			<tr> 
				<td><%= f.label :description, "Description" %></td>
				<td><%= f.text_area :description %></td>
			</tr>
			<tr> 
				<td><%= f.label :isbn, "Isbn #" %></td>
				<td><%= f.text_area :isbn %></td>
			</tr>
			<tr> 
				<td><%= f.submit "Create", :class=>"btn btn-success"%></td>
			</tr>
		</table>
	<% end %>
<!-- 	<%= form_for @movie, :url => movies_path do |f| %>
			<%= f.label :title, "Title" %>
			<%= f.text_field :title %>
			<%= f.label :description, "Description" %>
			<%= f.text_area :description %>
			<%= f.label :isbn, "Isbn #" %>
			<%= f.text_area :isbn %>
			<%= f.submit "Create", :class=>"btn btn-success"%>
 	<% end %> -->
</div>
