
<div class="page-header">
  <h1>Add new movies</h1>
</div>

<div class="container">
	<table>
	  <%= form_for @movie, :url => movies_path do |f| %>
		<tr> 
			<th><%= f.label :title, "Title" %></th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr> 
			<th><%= f.label :description, "Description" %></th>
			<td><%= f.text_area :description %></td>
		</tr>
		<tr> 
			<th><%= f.label :isbn, "Isbn #" %></th>
			<td><%= f.text_area :isbn %></td>
		</tr>
		<tr> 
			<th><%= f.submit "Create", :class=>"btn btn-success"%></th>
		</tr>
	<% end %>
	</table>
</div>
